# Editors Config file
*.exrc
/.vscode
/.config/mpv/watch_later
/.vim/plugins/vim-plug/

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
